In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train=pd.read_csv("Desktop//csv files//Loan Approval Classifier//train.csv")
test=pd.read_csv("Desktop//csv files//Loan Approval Classifier//test.csv")

In [3]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [5]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
train.drop(['Loan_ID','Gender'],axis='columns',inplace=True)

In [7]:
import numpy as np

In [8]:
train.shape

(614, 11)

In [9]:
train.Dependents=train.Dependents.fillna(method='ffill')

In [10]:
train.LoanAmount.fillna(train.LoanAmount.mean(),inplace=True)
train.Loan_Amount_Term.fillna(train.Loan_Amount_Term.mean(),inplace=True)

In [11]:
train.dropna(inplace=True)

In [12]:
test.Dependents.fillna(method='ffill')
test.LoanAmount.fillna(train.LoanAmount.mean(),inplace=True)
test.Loan_Amount_Term.fillna(train.Loan_Amount_Term.mean(),inplace=True)
test.dropna(inplace=True)
id=test['Loan_ID']
test.drop(['Loan_ID','Gender'],axis='columns',inplace=True)

In [13]:
x=train.drop(['Loan_Status'],axis='columns')
y=train['Loan_Status']

In [14]:
train_x=pd.get_dummies(x)
test_x=pd.get_dummies(test)
train_x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,146.412162,360.0,1.0,1,0,1,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,0,1,0,1,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,0,1,1,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,0,1,1,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,2900,0.0,71.000000,360.0,1.0,1,0,1,0,0,0,1,0,1,0,1,0,0
610,4106,0.0,40.000000,180.0,1.0,0,1,0,0,0,1,1,0,1,0,1,0,0
611,8072,240.0,253.000000,360.0,1.0,0,1,0,1,0,0,1,0,1,0,0,0,1
612,7583,0.0,187.000000,360.0,1.0,0,1,0,0,1,0,1,0,1,0,0,0,1
613,4583,0.0,133.000000,360.0,0.0,1,0,1,0,0,0,1,0,0,1,0,1,0

In [15]:
train_x.drop(['Married_No','Dependents_3+','Education_Not Graduate','Self_Employed_No','Property_Area_Rural'],axis='columns',inplace=True)
test_x.drop(['Married_No','Dependents_3+','Education_Not Graduate','Self_Employed_No','Property_Area_Rural'],axis='columns',inplace=True)

In [16]:
train_x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,146.412162,360.0,1.0,0,1,0,0,1,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,1,0,1,0,1,0,0,0
2,3000,0.0,66.000000,360.0,1.0,1,1,0,0,1,1,0,1
3,2583,2358.0,120.000000,360.0,1.0,1,1,0,0,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,2900,0.0,71.000000,360.0,1.0,0,1,0,0,1,0,0,0
610,4106,0.0,40.000000,180.0,1.0,1,0,0,0,1,0,0,0
611,8072,240.0,253.000000,360.0,1.0,1,0,1,0,1,0,0,1
612,7583,0.0,187.000000,360.0,1.0,1,0,0,1,1,0,0,1
613,4583,0.0,133.000000,360.0,0.0,0,1,0,0,1,1,1,0

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sk=StandardScaler()
x_scaled=sk.fit_transform(train_x)
x_scaled

array([[ 0.07146719, -0.61456511,  0.01346132, ..., -0.40378643,
        -0.79128997,  1.44038628],
       [-0.14337592, -0.01614031, -0.21310475, ..., -0.40378643,
        -0.79128997, -0.69425821],
       [-0.41201464, -0.61456511, -0.97602964, ...,  2.47655675,
        -0.79128997,  1.44038628],
       ...,
       [ 0.44871538, -0.51932509,  1.32505026, ..., -0.40378643,
        -0.79128997,  1.44038628],
       [ 0.36573096, -0.61456511,  0.51290442, ..., -0.40378643,
        -0.79128997,  1.44038628],
       [-0.14337592, -0.61456511, -0.15157855, ...,  2.47655675,
         1.26375922, -0.69425821]])

In [19]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(max_iter=1000)

In [20]:
model.fit(x_scaled,y)

LogisticRegression(max_iter=1000)

In [21]:
test_x_scaled=sk.fit_transform(test_x)

In [22]:
predicted=model.predict(test_x_scaled)

In [23]:
model.score(x_scaled,y)

0.8130841121495327

In [24]:
predicted

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y'],
      dtype=object)

In [25]:
result=pd.DataFrame(predicted,index=id,columns=['Loan_Status'])
result

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001051           Y
LP001054           Y
...              ...
LP002969           Y
LP002971           Y
LP002975           Y
LP002986           Y
LP002989           Y

[298 rows x 1 columns]

In [26]:
result.to_csv("Desktop//csv files//Loan Approval Classifier//Submission.csv")

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
model2=RandomForestClassifier(n_estimators=10)

In [29]:
model2.fit(x_scaled,y)

RandomForestClassifier(n_estimators=10)

In [30]:
model2.score(x_scaled,y)

0.9887850467289719

In [31]:
pred=model2.predict(test_x_scaled)

In [32]:
pred

array(['Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y',
       'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N'],
      dtype=object)

In [33]:
df2=pd.DataFrame(pred,index=id,columns=['Loan_Status'])
df2

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001051           Y
LP001054           N
...              ...
LP002969           Y
LP002971           Y
LP002975           Y
LP002986           Y
LP002989           N

[298 rows x 1 columns]

In [34]:
df2.to_csv("Desktop/csv files//Loan Approval Classifier//Submission2.csv")